.sidebar {
  position: fixed;
  height: 100%;
  background-color: #fff;
  padding: 20px;
}

.jumbotron {
  background-color:blue !important;
  color: white !important; 
}

.city-button {
  margin: 5px;
  padding: 0 10px;
}